<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="styles/styles.css" />
</head>
<body class="body">
  <h2 class="title">Works:</h2>
  <p class="title">Spongebob is a very prosperous sponge, some would say the most prosperous of all. Some of his major achievements include: </p>
  <ul>
    <li class="title">
      Has become a local singer/superstar, rocking the socks off all of Bikini Bottom's residents. 
    </li>
    <li class="title">
      Constantly makes employee of the month at the critically-acclaimed Krusty Krab, where he single-handedly serves all of Bikini Bottom the gastronomical delight that is the Krabby Patty.
    </li>
    <li class="title">
      Has has, thus far, managed to succesffuly dodge all of Plankton's evil schemes all with a smile of his face.
    </li>
  </ul>
  <a href="/home">Back to Home</a>
</body>
</html>