.body {
  font-family: Optima, sans-serif;
  background-image: url("../images/pineapple.jpeg");
}

.title {
  background-color: yellow;
  color: brown;
  width: fit-content;
}

#pics {
  display: flex;
  flex-direction: column;
  align-items: center;
}